*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #32C676;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;

}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.Escola{
    background-image: linear-gradient(#32C676, #186039);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 45%;
}

.escola-titulo{
    padding: 24px o;
}

.estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
}